{% extends 'base.html' %}
{% block content %}
    <hr>
    <h3>Comments ({{ post.comments.count }})</h3>
    {% if user.is_authenticated %}
        <p><a href="{% url 'comment-create' post.pk %}">Add a new comment</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to post a comment.</p>
    {% endif %}
        <p>Tags: 
            {% for tag in post.tags.all %}
                <a href="{% url 'tagged-posts' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>    

    <div class="comments-section">
        {% for comment in post.comments.all %}
            {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>
{% endblock %}